If:
  PathMatch:
    - sandor.h

CompileFlags:
  Add:
    - -I.
    - -Ithirdparty
    - -Os
    - -g
    - -mbulk-memory
    - --target=wasm32
    - -nostdlib
    - -fno-builtin
    - -Wl,--export-dynamic
    - -Wl,--no-entry
    - -Wl,--export=__heap_base
    - -Wl,--initial-memory=10485760
    - -Wl,--allow-undefined