If:
  PathMatch:
    - sandor.h

CompileFlags:
  Add:
    - -I.
    - -Ithirdparty
    - -Os
    - -g
    - -mbulk-memory
    - --target=wasm32
    - -nostdlib
    - -fno-builtin

---
If:
  PathMatch:
    - thirdparty/.*

CompileFlags:
  Remove:
    - -Werror
